
.page-header{padding-bottom: 20px;
  &.brand{
    h1{float:left; margin-bottom:0;}
    .controls{float:right;margin-top:20px; }
  }

}
.sig img.avatar.inline{
height:55px;
}

.chart{

  .controls{}
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  display: block;
  padding:0 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
header.navbar{
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

img.avatar {
  &.inline {
    height:20px;
    vertical-align: -6px;
  }
  &.left {
    margin-right: 10px;
  }
  &.round {
    border-radius: 10px;
  }
}
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }


  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  .container .text-muted {
    margin: 20px 0;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  code {
    font-size: 80%;
  }

